#project{
    padding: 0 50px;
    background-color: cadetblue;
}
.project-box{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.layout-project{
    max-width: 1140px;
    margin: 0 auto;
}
.img-project{
    height: 200px;
    background: tomato;
    color: white;
    padding: 30px;
    min-width: 250px;
    box-shadow: 12px 0 32px -12px black;
    margin-left:  -130px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.img-project:hover{
    transform: translate(-16px) rotate(3deg);
}
.img-project:hover ~ .img-project{
    transform: translate(130px);
}
@media screen and (max-width: 640px) {
    .project-box{
        height: 50vh;
    }
}